<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a href="/audio?testing=1">Audio Test</a>
            </li>
            <li class="main-header__item">
                <a href="/audio">Audio Train</a>
            </li>
            <li class="main-header__item">
                <a href="/dict">Dictionary</a>
            </li>
            <li class="main-header__item">
                <a href="/lm">Language Model</a>
            </li>
        </ul>
    </nav>
</header>